<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Poppins:300,400,500,600,700|Space+Mono:400,700&amp;display=swap"
      rel="stylesheet"/>
    <link href="/css/styles.css" rel="stylesheet" />
    <title>{{.Title}}</title>
    {{- if (and .Site.Params.plausibleDomain .Site.Params.plausibleSrc) -}}
      <script async defer data-domain="{{- .Site.Params.plausibleDomain -}}" src="{{- .Site.Params.plausibleSrc -}}"></script>
    {{- end -}}
  </head>
  <body class="bg-gray-100">
    <div class="flex flex-col min-h-screen mx-2">
      <div class="flex flex-col justify-center flex-grow items-center md:text-lg">
        <h1><a href="/">{{ .Title }}</a></h1>
      </div>
      {{ block "footer" . }} {{ partial "footer.html" . }} {{ end }}
    </div>
  </body>
</html>
